html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:none;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-image: url(http://www.filterforge.com/filters/4989.jpg);
}
#c {
    /*border: 1px solid black;
    /*background-image: url(http://www.reinerstilesets.de/thumbs_t/ts_120.jpg);*/
    background-color: silver;
    background-image: url(http://fc05.deviantart.net/fs70/f/2011/195/f/8/nyan_cat_less_background_by_funkpopper-d3rb1pi.gif);
    box-shadow: inset 0 0 10px #000;
    border-radius: 5px;
}